<div class="row">
 <div class="col-md-6 col-md-offset-3">


<% if logged_in? %>

  <h1> List of all Events</h1>
  <h1> Upcoming Events: </h1>
  <% Event.upcoming.each do |e| %>
  <ul>
    <li>
      <p class="center"><%=link_to e.event, event_url(e.id) %></p>
    </li>
  </ul>
<% end %>

<h1> Past Events: <h1>

<% Event.past.each do |e| %>
  <ul>
    <li>
      <p><%=link_to e.event, event_url(e.id) %></p>
    </li>
  </ul>
<% end %>
<% else %>
  <h1>Sign Up, first</h1>
<% end %>


 </div>
 </div>